.playBoard{
    display:flex;
    flex-wrap: wrap; 
    flex-basis: 33%;
    width: 450px;
    height: 450px;
    margin: auto;
    

}

#tsparticles{
    background-image: url("../assets/wood3.jpg");
}
@keyframes slideInLeft{
    from{
        transform: translateX(-1200px)
    }
    to{
        transform: translateX(0);
    }
}
#box{
    display: flex;
    flex-basis: 30%; 
    border: 2px solid black;
    height: 150px;
    font-size: 150px;
    color: white;
    transition: color 4s ease-out 0s;
    animation-name: slideInLeft;
    animation-duration: .3s;
    
    
}
.winningStatement{
    width: 450px;
    margin: 0 auto; 
}
.players{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
.title {
    text-align: center;
    margin: 0 auto; 
    background-image: url("../assets/wood5.jpg");
    width: 450px;
    color: white;
}


.finalNames{
    display: flex;
    justify-content: space-around;
}
.reset{
    margin-top: 50px;
    text-align: center;
}
h3{
text-align: center;
}
.player1{
   color: rgb(48, 67, 144)
}
.player2{
    color: rgb(48, 67, 67)
}
h1{
    text-align: center;
    margin-bottom: 0px;
}